/* reset */
body, h1, p, ul, li {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

/* CSS 적용 */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  font-family: Arial, Helvetica, sans-serif;
  background: #D9D9D9;
}

.wrapper {
  width: 35%;
  border-radius: 20px;
  background: #EEE;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
  margin: auto;
  margin-top: 30px;
}

.title {
  width: auto;
  height: 100px;
  border-radius: 20px 20px 0px 0px;
  border-bottom: 4px solid #DDD;
  background: #FFF;
  padding-top: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.todo-title {
  display: flex;
  gap: 30px;
}
.sign {
  width: 8px;
  height: 32px;
  border-radius: 0px 10px 10px 0px;
  background: #FF007A;
}
.title h1 {
  color: #FF007A;
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* margin-left: 31px; */
}

/* 할 일 입력 */
.todo-form{
  /* width: 300px; */
  margin-left: auto;
  margin-right: auto;
}

ul {
  /* min-height: 374px; */
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px 0;
  flex-basis: 200px;
  overflow-y: auto;
}

ul li {
  width: 83%;
  padding : 12px 0 12px 15px;
  border-radius: 10px;
  /* box-shadow: 0 0 0 4px #D9D9D9; */
  border: 4px solid #D9D9D9;
  background: #FFF;
  display: flex;
  align-items: center;
  position: relative;

  color: #888;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* li:nth-child(2) {
  border: 4px solid #759CFF;
  color: #759CFF;
} */

/* 체크박스 */
/* li::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid black;
  vertical-align: -5px;
} */

.todo-list input {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 70%;
}

li::after {
  content: "";
  /* position 속성을 적용하면 display는 자동으로 block으로 변경 */
  position: absolute;
  /* top: -3px; */
  left: 16px;
  width: 20px;
  height: 20px;
  background: url(../images/Frame.png) 0 0/20px no-repeat;
  opacity: 0;
  transition: all 0.4s;
}

.text-hide {
  /* 어떤 상황에서도 대처할 수 있게 만든 코드 */
  overflow: hidden;
  width: 1px;
  height: 1px;
  /* 경로에 따라 html 요소 자르는 속성
  inset(50%)는 상하좌우에서 영역의 50%씩 자르는 것 */
  clip-path: inset(50%);
}

li img {
  position: absolute;
  right: 5%;
}

/* 삭제 버튼 */
button {
  position: absolute;
  left: 85%;
}